@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

:root {
  --orange: rgb(255, 109, 45);
  --blue: rgb(14, 113, 120);
  --yellow: rgb(255, 198, 0);
}

/* GET RID OF TWINE STYLES */
body {
  width: 100vw;
  height: 100vh;
  background: rgb(14, 113, 120);
  font-family: "Lato", sans-serif;
}

body.black {
  background: black;
}

body.blue {
  background: rgb(14, 113, 120);
}

p {
  font-size: 2rem;
}

#story {
  margin: 0;
}

#passages {
  max-width: 100%;
}

.passage {
  height: 100vh;
}

#story a.link-external:after {
  content: "";
}

div#back > a.macro-back {
  border: white solid 1px;
  padding: 1rem;
  border-radius: 5px;
}

div#back > a.macro-back:hover {
  background-color: white;
  color: var(--blue);
}

/* DISSOLVE TRANSITION  */
body[data-tags~="t8n-dissolve"] .transition-in {
  position: absolute;
  opacity: 0;
}
body[data-tags~="t8n-dissolve"] .passage {
  transition: 1s;
  -webkit-transition: 1s;
}
body[data-tags~="t8n-dissolve"] .transition-out {
  position: absolute;
  opacity: 0;
}

.phone-warning {
  display: none;
}

/* SHOW NOTHING ON A PHONE  */
@media screen and (max-width: 400px) {
  .audio-container {
    display: none !important;
  }
  .phone-warning {
    display: initial;
    text-align: center;
  }
  .phone-warning > p {
    text-align: center;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    -39deg,
    rgba(14, 113, 120, 1) 45%,
    rgba(255, 109, 45, 1) 100%
  );
  padding: 3rem;
}

.wrapper.cogs {
  background-image: url("./assets/img/bg-detail.png");
  background-size: cover;
}

/* main {
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  background: linear-gradient(
    -39deg,
    rgba(14, 113, 120, 1) 45%,
    rgba(255, 109, 45, 1) 100%
  );
} */

main.cogs {
  background-image: url("./assets/img/bg-detail.png");
  background-size: cover;
}
.disappear {
  display: none !important;
}

footer {
  width: 100%;
  padding: 2rem;
}

nav {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

nav.right {
  justify-content: flex-end;
}

.intro-text {
  max-width: 50%;
}

.intro-text > p,
.intro-text > .flex-container-row > p {
  background-color: var(--orange);
  width: fit-content;
  padding: 5px;
}

.logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.logo-wrapper.right {
  justify-content: flex-end;
}

img.logo.mott {
  max-width: 150px;
}

img.logo.na {
  max-width: 150px;
}

img.logomott {
  max-width: 30rem;
  margin-block-end: 2rem;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-container-col-cen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-wrapper > button,
.button-wrapper > a {
  background-color: transparent;
  font-weight: 700;
  font-size: 2.6rem;
  border: none;
  text-transform: uppercase;
}

.button-wrapper.orange > button {
  background-color: transparent;
  font-weight: 700;
  font-size: 1.8rem;
  border: none;
  text-transform: uppercase;
  color: var(--orange);
}

.hint-button > button {
  background-color: var(--orange);
  border: white 1px solid;
  border-radius: 4px;
  color: white;
}

/* INTRO  */
.wrapper.audio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-wrapper.circle {
  /* border: solid white 2px; */
  background-color: white;
  border-radius: 50%;
  padding: 2rem 0;
}
.button-wrapper.circle > button {
  color: var(--orange);
}

.intro-text > .flex-container-row > p.fit {
  height: fit-content;
}

.flex-container-row.power {
  justify-content: end;
}

/* TRANSPASS */
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(360deg);
    opacity: 1;
  }

  50% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(0deg);
    opacity: 0.2;
  }

  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-360deg);
    opacity: 1;
  }
}
@keyframes rotateIn {
  0% {
    transform-origin: center center;
    transform: rotate(360deg);
    opacity: 1;
  }

  50% {
    transform-origin: center center;
    transform: rotate(0deg);
    opacity: 0.8;
  }

  100% {
    transform-origin: center center;
    transform: rotate(-360deg);
    opacity: 1;
  }
}
.logoRot {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

img.logoRot {
  border-radius: 100%;
}

.safeguard.center {
  text-align: center;
}

/* VIDEO PAGES  */

/* .video-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
} */

iframe {
  width: 100%;
  height: 500px;
}

/* MENU PAGE  */

main.menu {
  flex-grow: 1;
}

header.menu-grid > .logo-wrapper > img.logo.mott {
  max-width: 80px;
}

header.menu-grid > .logo-wrapper > img.logo.na {
  max-width: 100px;
}

.wrapper.menu {
  background-color: var(--blue);
  background-image: none;
}

.wrapper.menu > header > .logo-wrapper {
  justify-content: space-between;
  align-items: center;
}

.wrapper.main.menu > header > .logo-wrapper > .logo-item {
  max-width: 10%;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  grid-template-areas:
    "sidebar  content"
    "sidebar  content"
    "sidebar  content";
  gap: 1rem;
}

.menu-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  justify-content: center;
  align-items: center;
  max-height: 60vh;
  max-width: 1080px;
  gap: 1rem;
}

.grid-item.code {
  grid-area: b;
}

.grid-item.fog {
  grid-area: f;
}

.grid-item.fire {
  grid-area: h;
}

.grid-item.time {
  grid-area: d;
}

.grid-item.arrow1 {
  grid-area: c;
}

.grid-item.arrow2 {
  grid-area: i;
}

.grid-item.arrow3 {
  grid-area: g;
}

.grid-item.arrow1,
.grid-item.arrow2,
.grid-item.arrow3 {
  max-width: 9rem;
}

.menu-wrapper > img.complete {
  width: 80%;
}

.menu-wrapper > a > img.baguette {
  width: 80%;
}

.completecode {
  grid-area: b;
  opacity: 60%;
}
.completefog {
  grid-area: f;
  opacity: 60%;
}
.completefire {
  grid-area: h;
  opacity: 60%;
}
.completetime {
  grid-area: d;
  opacity: 60%;
}

.baguette {
  grid-area: e;
}

/* .menu-wrapper > a > img {
  max-width: 100px;
} */

.menu-item {
  display: flex;
  flex-direction: column;
}

.menu-item.grid-item > img.option,
a.grid-item > .menu-item > img.option {
  max-width: 15rem;
}

/* Challenge titles */

.title-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-item > .title-wrapper {
  margin-bottom: 1rem;
}

.title-wrapper > img {
  max-width: 20%;
}

.title-wrapper > img {
  position: absolute;
  left: -100px;
}

.title-wrapper.grid > img {
  position: absolute;
  left: -24%;
}

.title-wrapper > img.orange {
  width: 10rem;
  max-width: 100%;
}

.title-wrapper > p {
  font-size: 2.3rem;
  margin-bottom: 0;
  font-weight: 700;
  /* text-decoration: underline; */
  text-transform: uppercase;
}

.title-wrapper > p > span {
  color: var(--orange);
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .content-wrapper > .content-item.content.text {
    margin-top: 8rem;
  }
}
/* SIDEBAR */

.content-item.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-item.sidebar > p {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 60%;
}

.mentor-wrapper {
  position: fixed;
  width: 20%;
  bottom: 0;
  left: 0;
}

.mentor-wrapper > p {
  margin-bottom: -3rem;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.content-item.sidebar > .title-wrapper {
  justify-content: flex-start;
}

.content-item.sidebar > .title-wrapper > img {
  position: inherit;
  left: inherit;
  margin-left: -20px;
}

/* GENERAL TEXT */

.content-item.content.text > .title-wrapper {
  max-width: 50%;
}

.content-wrapper > .content-item.sidebar {
  grid-area: sidebar;
}

.content-wrapper > .content-item.content {
  grid-area: content;
  z-index: 99999;
}

/* CODEWORDS */

.wrapper.menu.codeword.question {
  background-image: url("./assets/img/bg-question.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.wrapper.menu.codeword.answer1 {
  background-image: url("./assets/img/bg-code-answer1.png");
}

.wrapper.menu.codeword.answer2 {
  background-image: url("./assets/img/bg-code-answer2.png");
}

.wrapper.menu.codeword.answer3 {
  background-image: url("./assets/img/bg-code-answer3.png");
}

.scrambled > span {
  font-size: 5rem;
  font-weight: 700;
  text-decoration: underline;
}

.content-item.content.text > h3.subtitle {
  margin-bottom: 0;
  text-transform: uppercase;
}

.content-item > img.title-icon {
  max-width: 10rem;
  margin-top: -3rem;
}

img.person.one {
  position: fixed;
  width: 19%;
  right: 10%;
  bottom: 0;
}

img.person.two {
  position: fixed;
  width: 19%;
  top: 25%;
  right: 0%;
}

input.macro-textbox {
  background-color: #fff;
  border: 2px solid var(--orange);
  border-radius: 5px;
}

h3.orange {
  color: var(--orange);
}

h3.subtitle > span.orange {
  color: var(--orange);
}

.content-item.content > img.completed {
  max-width: 60%;
}

/* FOG CLEARING  */

.fog-content-wrapper {
  display: flex;
}

.fog-content-wrapper > .timer > img {
  /* max-width: 60%; */
}
.fog-content-wrapper > .timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 30%;
}

.fog-img-wrapper {
  flex-grow: 2;
}

.timer > .countdown > h3.timer {
  font-size: 5rem;
  justify-self: flex-end;
  margin-bottom: 0;
}

.game-content > span#image-text {
  font-weight: 300;
}

img.smaller {
  width: 60%;
}

/* FIRE SYSTEM  */

#flour {
  font-family: "Fondamento", cursive;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  width: 230px;
  height: 80px;
  margin: 0 auto;
  background-image: url("Images/letterbackground1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 3em;
  color: #171a24;
  padding: 0.5em 0.5em 1em 0.5em;
}

.flour-wrapper {
  max-width: 300px;
}

.flour-wrapper.intext {
  opacity: 1;
}

.wrapper.menu.fire.answer1 {
  background-image: url("./assets/img/fog-write.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

/* LETTER STUFF*/
.letter {
  font-family: "IM Fell English", serif;
  background-image: url("https://remote.co.com/MoTT/AgentTraining/Images/letterbackground2.png");
  font-size: 1.4em;
  color: #241004;
  padding: 2em;
  margin: 1em auto;
  width: max-content;
  z-index: 2;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-transform: none;
  letter-spacing: 0;
}

.letter .smallcaps {
  font-family: "IM Fell English SC", serif;
}

.medieval {
  clear: both;
  display: block;
  line-height: 1.4em;
  letter-spacing: 0;
}

#line1 {
  font-size: xxx-large;
  font-variant: small-caps;
}

#line2 {
  font-size: large;
  line-height: 0.1em;
}
#line3 {
  font-size: xxx-large;
  font-weight: bold;
  color: #710c0c;
}
#line4 {
  font-size: xxx-large;
}
#line5 {
  font-size: 0.7em;
  font-style: italic;
  line-height: 1em;
}
#line6 {
  font-size: 2em;
  line-height: 1.1em;
}
#line7 {
  font-size: 1em;
  font-style: italic;
}
#line8 {
  font-size: 1.7em;
  font-variant: small-caps;
}
#line9 {
  font-size: 1em;
  font-style: italic;
}
#line10 {
  font-size: 1.4em;
  font-variant: small-caps;
  font-weight: bold;
}

#line11 {
  font-size: 2em;
  font-style: italic;
}

@media screen and (max-width: 900px) {
  .content-wrapper > .content-item.content.text > .letter {
    max-width: 65vw;
  }

  .letter.joenap {
    width: inherit;
  }
}

/* CHATBOX */

.wrapper.mission.conversation {
  background-image: url(./assets/img/scovell.png), url(./assets/img/oldman.png);

  background-size: 50vh;
  background-repeat: no-repeat;
  background-position: 105% top, -100px bottom;
  /* background-position-x: -15%;
  background-position-y: 50%; */
}

.scovell-wrapper {
  position: fixed;
  width: 25%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.scovell-wrapper > .caption {
  display: block;
  width: 100%;
  text-align: left;

  width: fit-content;
  padding: 5px;
}

span.code.img {
  position: fixed;
  width: 25%;
  bottom: 0;
  right: 5rem;
}

#Scovell a,
#Wellington a {
  z-index: 4;
  position: relative;
  left: 3em;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: relative;
  /* top: -4vh; */
  text-transform: none;
  letter-spacing: 0;
}

.SFS {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.SFS.left {
  margin-right: 25%;
  background-color: var(--orange);
  position: relative;
  color: black;
}

.left {
  display: flex;
  align-items: flex-start;
  text-align: start;
}

.left.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: var(--orange);
  color: black;
  border-bottom-right-radius: 15px;
}

.SFS.left:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: black;
  border-bottom-right-radius: 10px;
}

.SFS.right {
  color: white;
  margin-left: 25%;
  background: var(--yellow);
  background-attachment: fixed;
  position: relative;
  justify-content: end;
  color: black;
}

.right {
  display: flex;
  align-items: flex-end;
  text-align: end;
}

.right.SFS.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: var(--yellow);
  color: black;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.right.SFS.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: black;
  border-bottom-left-radius: 10px;
}

#CoC {
  font-family: Montserrat;
  background: #e6e0d7;
  color: black;
  text-transform: uppercase;
  display: grid;
  padding: 3em;
  grid-auto-columns: min-content 1fr;
  grid-auto-rows: auto;
}
.CoCTitle {
  grid-column: 1/3;
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.4em;
}
.CoCTitle h2 {
  display: inline;
  text-decoration: underline;
  font-size: 1.4em;
  text-align: left;
  padding: 0px 0.5em 0px 0px;
  line-height: 1.5em;
}

.Header h1 {
  font-size: 2em;
  line-height: 1.2em;
  color: #ca0404;
  text-decoration: underline;
}
.Header {
  grid-column: 1/3;
}
.Header img {
  max-width: 100px;
  mix-blend-mode: exclusion;
}

.conversation-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .scovell-wrapper {
    position: fixed;
    /* width: inherit; */
    bottom: 20%;
    right: 0;
    top: inherit;
  }
}

/* TIME NUDGING  */
span.intext {
  position: fixed;
  right: 7%;
  top: 30%;
  z-index: -9999;
  max-width: 30rem;
  opacity: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
}

/* MISSION */

.wrapper.menu.mission {
  background-color: black;
}

/* .content-item.text.mission {
  color: black;
} */

/* .content-item.text.mission > .title-wrapper > p,
.content-item.text.mission > #text > .macro-type > p,
.content-item.text.mission > #text > .macro-type > span > p {
  background-color: var(--yellow);
  width: fit-content;
  padding: 5px;
} */

.content-item.content.text.mission > .title-wrapper {
  max-width: 50%;
}

.title-wrapper.mission > img {
  position: inherit;
  transform: scale(2.5);
  left: inherit;
  top: -70px;
}

footer.mission {
  background-color: black;
  width: fit-content;
  align-self: end;
  z-index: 99999;
}

.content-item.content.text.mission > img.gif.signal {
  max-width: 50%;
}

.content-item.content.text.mission.message {
  display: flex;
  align-items: flex-start;
}

.gif.signal {
  max-height: 30vh;
  margin-inline-end: 2rem;
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

/* CIPHER */

span.intext.cipher {
  max-width: 30%;
  margin-right: -10rem;
}

.caption {
  color: rgba(255, 255, 255, 0.547);
  background-color: black;
  padding: 2px;
}

.mentor-wrapper > .caption {
  display: block;
  width: 100%;
  text-align: right;
  /* opacity: 0.5; */
}

.wrapper.mission.joseph {
  background-image: url(./assets/img/joseph.png);
  background-size: 50vh;
  background-repeat: no-repeat;
  background-position: 105% center;
}

/*Code Grid*/

.CodeGrid {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-flow: wrap;
  max-width: 52rem;
  text-align: center;
  font-size: 2rem;
  gap: 1rem;
  margin-block-end: 2rem;
  margin-inline-end: 2rem;
}

.CodeGrid-item {
  border: 1px solid black;
  padding: 5px;
  width: 3rem;
}

#page {
  display: flex;
  flex-direction: column;
}

passage-thirtyeight > div#main {
  grid-area: 1/2/3/2;
}

.solutions-wrapper {
  display: flex;
  flex-direction: column;
}

.solutions-item {
  display: flex;
  flex-direction: row;
  margin-block-end: 1rem;
}

.solutions-item > input.macro-textbox {
  letter-spacing: 0.4rem;
  min-width: inherit;
}

.grid-answer-wrapper {
  display: flex;
}

.napoleon-letter {
  padding: 2rem;
  margin-block-end: 2rem;
}

.baguette-complete-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cipher-check > button {
  color: white;
  border: 1px solid;
}

.check-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#feedback > .solutions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 900px) {
  span.intext.cipher {
    bottom: 20%;
    top: inherit;
    max-width: 40%;
  }
  span.code.img {
    bottom: inherit;
    top: 5%;
  }

  .mentor-wrapper.napolean {
    width: 40%;
  }

  .grid-answer-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
